pip==19.2.3
bump2version==0.5.11
wheel==0.38.1
watchdog==0.9.0
flake8==3.7.8
flake8_docstrings==1.5.0
tox==3.14.0
coverage==4.5.4
Sphinx==2.2.0
twine==1.14.0
Click==7.0
pytest==5.0.1
pytest-runner==5.1
